{% extends 'news/base.html' %}
{% load static %}

{% block title %}
    Restore the old password
{% endblock title %}

{% block content %}
    <h1>Restore the old password</h1>
    {% if validlink %}

        <p>pls enter new password 2 times</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Send email</button>
            <p><button type="submit"> Change password</button></p>
        </form>
    {% else %}
        <p>you used invalid link or expired link</p>
    {% endif %}
{% endblock content %}
